<div id="page">
	<div class="loading" style="display: none;"></div>
  <div id="secondary-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="secondary-menu">
            <ul class="warm nav nav-pills">
              <li role="presentation">
                <a [routerLink]="['/']" routerlinkactive="active">
                  <span aria-hidden="true" class="glyphicon glyphicon-map-marker"></span>
                  Home
                </a>
              </li>
              <li role="presentation">
                <a [routerLink]="['/plays']" routerlinkactive="active">
                  <span aria-hidden="true" class="glyphicon glyphicon-play"></span>
                  Plays
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
